<%- include('partials/header') %>   
    <link rel="stylesheet" href="css/style.css">
    <title>Admin</title>
</head>
<body>
<%- include('partials/navbar') %>
<a href="/logout">Log out</a>
<div id="info-form">
    <h1>Personal Information</h1>
    <form action="/" method="POST">
        <input type="text" name="userInfo" placeholder="add a line of info">
        <button type="submit">Add info</button>
    </form>
    
</div>

<div class="container">
    <main>
        <ul>
            <% for(let i = 0; i < displayInfo.length; i ++) { %>
                <li><%= displayInfo[i].infoContent %></li>
                <form action="/deleteInfo" method="POST" style="display: inline-block;">
                    <input type="hidden" name="infoToDelete" value="<%= displayInfo[i].infoContent %>">
                    <button type="submit">X</button>
                </form>
            <% } %>
            
        </ul>
    </main> 

    <div id="edu-form">
        <h1>Education</h1>
        <form action="/" method="POST" enctype="multipart/form-data">
            <input type="text" name="userSchool" placeholder="Add a school">
            <input type="number" name="userYear" placeholder="Add a year">
            <button type="submit">Add info</button>
        </form>
    </div>

    <div id="education">
        <ul>
            <li>
                <table>
                    <tr>
                        <th>School</th>
                        <th>Year of graduation</th>
                    </tr>
                    <tr>
                        <td>Ruila Põhikool</td>
                        <td>2020</td>
                    </tr>
                    <tr>
                        <td>Tallinna Tööstushariduskeskus</td>
                        <td>-</td>
                    </tr>
            </table>
            </li>
        </ul>
        
    </div>
    
    <div id="technical">
        <ul>
            <li>Programming</li>
            <li>Back-end</li>
            <li>Front-end</li>
            <li>Version control</li>
        </ul>
    </div>

    <div id="soft">
        <ul>
            <li>Time management</li>
            <li>Creative thinking</li>
            <li>Teamwork</li>
        </ul>
    </div>
  </div>

  
<%- include('partials/footer') %>